@model MedicalCenter.Models.Patient

<h2>Usuń pacjenta</h2>

<p>Czy na pewno chcesz usunąć?</p>

<p>@Model.Pesel</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Usuń</button>
</form>

<a href="/Patients">Anuluj</a>