CREATE DATABASE MedicalCenterDB;
GO
USE [MedicalCenterDB]
GO
/****** Obiekt: Schema [rpt] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE SCHEMA [rpt]
GO
/****** Obiekt: Table [dbo].[Users] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
	[ProfilePicturePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Appointments] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[DurationMinutes] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Doctors] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LicenseNumber] [nvarchar](20) NOT NULL,
	[SpecializationId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Prescriptions] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[Id] [uniqueidentifier] NOT NULL,
	[MedicalRecordId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[IssuedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Reviews] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Specializations] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Specializations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: View [rpt].[vw_DoctorPerformance] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [rpt].[vw_DoctorPerformance]
AS
SELECT
    d.Id AS DoctorId,
    u.FirstName + ' ' + u.LastName AS DoctorName,
    s.Name AS Specialization,
    d.LicenseNumber,

    -- Łączna liczba wizyt
    (SELECT COUNT(*) 
     FROM dbo.Appointments a 
     WHERE a.DoctorId = d.Id) AS TotalAppointments,

    -- Unikalni pacjenci
    (SELECT COUNT(DISTINCT a.PatientId) 
     FROM dbo.Appointments a 
     WHERE a.DoctorId = d.Id) AS UniquePatients,

    -- Liczba recept
    (SELECT COUNT(*) 
     FROM dbo.Prescriptions p 
     WHERE p.DoctorId = d.Id) AS PrescriptionsIssued,

    -- Średnia ocena
    (SELECT AVG(CAST(r.Rating AS DECIMAL(3,2)))
     FROM dbo.Reviews r 
     WHERE r.DoctorId = d.Id) AS AverageRating,

    -- Liczba ocen (kontekst do średniej)
    (SELECT COUNT(*) 
     FROM dbo.Reviews r 
     WHERE r.DoctorId = d.Id) AS ReviewsCount

FROM dbo.Doctors d
INNER JOIN dbo.Users u ON u.Id = d.UserId
INNER JOIN dbo.Specializations s ON s.Id = d.SpecializationId;
GO
/****** Obiekt: Table [dbo].[AppointmentStatuses] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentStatuses](
	[Name] [nvarchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_AppointmentStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: UserDefinedFunction [rpt].[fn_DoctorWorkloadInPeriod] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [rpt].[fn_DoctorWorkloadInPeriod]
(
    @DoctorId  UNIQUEIDENTIFIER,
    @DateFrom  DATETIME2,
    @DateTo    DATETIME2
)
RETURNS TABLE
AS
RETURN
(
    SELECT
        @DoctorId AS DoctorId,
        @DateFrom AS PeriodFrom,
        @DateTo   AS PeriodTo,

        (SELECT COUNT(*)
         FROM dbo.Appointments a
         WHERE a.DoctorId = @DoctorId
           AND a.AppointmentDate >= @DateFrom
           AND a.AppointmentDate <  @DateTo
        ) AS TotalAppointments,

        (SELECT COUNT(DISTINCT a.PatientId)
         FROM dbo.Appointments a
         WHERE a.DoctorId = @DoctorId
           AND a.AppointmentDate >= @DateFrom
           AND a.AppointmentDate <  @DateTo
        ) AS UniquePatients,

        (SELECT COUNT(*)
         FROM dbo.Appointments a
         INNER JOIN dbo.AppointmentStatuses s ON s.Id = a.StatusId
         WHERE a.DoctorId = @DoctorId
           AND a.AppointmentDate >= @DateFrom
           AND a.AppointmentDate <  @DateTo
           AND s.Name = N'Zaplanowana'
        ) AS ScheduledCount,

        (SELECT COUNT(*)
         FROM dbo.Appointments a
         INNER JOIN dbo.AppointmentStatuses s ON s.Id = a.StatusId
         WHERE a.DoctorId = @DoctorId
           AND a.AppointmentDate >= @DateFrom
           AND a.AppointmentDate <  @DateTo
           AND s.Name = N'Zakończona'
        ) AS CompletedCount,

        (SELECT COUNT(*)
         FROM dbo.Appointments a
         INNER JOIN dbo.AppointmentStatuses s ON s.Id = a.StatusId
         WHERE a.DoctorId = @DoctorId
           AND a.AppointmentDate >= @DateFrom
           AND a.AppointmentDate <  @DateTo
           AND s.Name = N'Anulowana'
        ) AS CancelledCount,

        (SELECT COUNT(*)
         FROM dbo.Prescriptions p
         WHERE p.DoctorId = @DoctorId
           AND p.IssuedAt >= @DateFrom
           AND p.IssuedAt <  @DateTo
        ) AS PrescriptionsIssued
);
GO
/****** Obiekt: Table [dbo].[Addresses] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [uniqueidentifier] NOT NULL,
	[Street] [nvarchar](100) NULL,
	[HouseNumber] [nvarchar](10) NULL,
	[ApartmentNumber] [nvarchar](10) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[City] [nvarchar](100) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Patients] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Pesel] [nvarchar](11) NULL,
	[BirthDate] [datetime2](7) NULL,
	[AddressId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: UserDefinedFunction [rpt].[fn_PatientDemographics] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [rpt].[fn_PatientDemographics]
(
    @AgeFrom INT,
    @AgeTo   INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT
        -- Grupa wiekowa (przedział)
        CASE
            WHEN DATEDIFF(YEAR, p.BirthDate, SYSDATETIME()) < 18 THEN N'0-17'
            WHEN DATEDIFF(YEAR, p.BirthDate, SYSDATETIME()) < 31 THEN N'18-30'
            WHEN DATEDIFF(YEAR, p.BirthDate, SYSDATETIME()) < 51 THEN N'31-50'
            WHEN DATEDIFF(YEAR, p.BirthDate, SYSDATETIME()) < 71 THEN N'51-70'
            ELSE N'71+'
        END AS AgeGroup,

        -- Płeć z PESEL (10. cyfra: parzysta = K, nieparzysta = M)
        CASE
            WHEN p.Pesel IS NULL THEN N'Nieznana'
            WHEN CAST(SUBSTRING(p.Pesel, 10, 1) AS INT) % 2 = 0 THEN N'Kobieta'
            ELSE N'Mężczyzna'
        END AS Gender,

        -- Miasto z adresu
        ISNULL(a.City, N'Nieznane') AS City,

        COUNT(*) AS PatientCount
    FROM dbo.Patients p
    LEFT JOIN dbo.Addresses a ON a.Id = p.AddressId
    WHERE p.BirthDate IS NOT NULL
        AND p.BirthDate <= DATEADD(YEAR, -@AgeFrom, SYSDATETIME())
        AND p.BirthDate >  DATEADD(YEAR, -@AgeTo - 1, SYSDATETIME())
    GROUP BY
        CASE
            WHEN DATEDIFF(YEAR, p.BirthDate, SYSDATETIME()) < 18 THEN N'0-17'
            WHEN DATEDIFF(YEAR, p.BirthDate, SYSDATETIME()) < 31 THEN N'18-30'
            WHEN DATEDIFF(YEAR, p.BirthDate, SYSDATETIME()) < 51 THEN N'31-50'
            WHEN DATEDIFF(YEAR, p.BirthDate, SYSDATETIME()) < 71 THEN N'51-70'
            ELSE N'71+'
        END,
        CASE
            WHEN p.Pesel IS NULL THEN N'Nieznana'
            WHEN CAST(SUBSTRING(p.Pesel, 10, 1) AS INT) % 2 = 0 THEN N'Kobieta'
            ELSE N'Mężczyzna'
        END,
        ISNULL(a.City, N'Nieznane')
);
GO
/****** Obiekt: Table [dbo].[OrderItems] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[MedicineCategories] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MedicineCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Medicines] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StockQuantity] [int] NOT NULL,
 CONSTRAINT [PK_Medicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Orders] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[StripeSessionId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Obiekt: UserDefinedFunction [rpt].[fn_GetCategorySalesStats] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [rpt].[fn_GetCategorySalesStats]
(
    @StartDate DATETIME2(7),
    @EndDate DATETIME2(7)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        mc.Name AS CategoryName,
        ISNULL(SUM(oi.Quantity), 0) AS TotalSoldPackages,
        ISNULL(SUM(oi.Quantity * oi.UnitPrice), 0) AS TotalRevenue
    FROM dbo.Orders o
    INNER JOIN dbo.OrderItems oi ON o.Id = oi.OrderId 
    INNER JOIN dbo.Medicines m ON oi.MedicineId = m.Id
    INNER JOIN dbo.MedicineCategories mc ON m.CategoryId = mc.Id
    WHERE o.CreatedAt >= @StartDate 
      AND o.CreatedAt <= @EndDate
      AND o.StatusId != 5 
    GROUP BY mc.Name
);

GO
/****** Obiekt: UserDefinedFunction [rpt].[fn_GetMedicineSalesStats] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [rpt].[fn_GetMedicineSalesStats]
(
    @StartDate DATETIME2(7),
    @EndDate DATETIME2(7)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        m.Name AS MedicineName,
        ISNULL(SUM(oi.Quantity), 0) AS TotalSoldPackages,
        ISNULL(SUM(oi.Quantity * oi.UnitPrice), 0) AS TotalRevenue
    FROM dbo.Orders o
    INNER JOIN dbo.OrderItems oi ON o.Id = oi.OrderId 
    INNER JOIN dbo.Medicines m ON oi.MedicineId = m.Id
    INNER JOIN dbo.MedicineCategories mc ON m.CategoryId = mc.Id
    WHERE o.CreatedAt >= @StartDate 
      AND o.CreatedAt <= @EndDate
      AND o.StatusId != 5 
    GROUP BY m.Name
);

GO
/****** Obiekt: Table [dbo].[OrderStatuses] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[Name] [nvarchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: UserDefinedFunction [rpt].[fn_GetActivePatientOrders] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [rpt].[fn_GetActivePatientOrders]
(
    @PatientId UNIQUEIDENTIFIER
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        o.Id AS OrderId,
        o.TotalPrice AS CenaZamowienia,
        o.CreatedAt AS DataZlozenia,
        os.Name AS StatusOpis
    FROM dbo.Orders o
    JOIN dbo.OrderStatuses os ON o.StatusId = os.Id
    WHERE o.PatientId = @PatientId
      AND os.Name <> N'Zakończone'
);
GO
/****** Obiekt: Table [dbo].[__EFMigrationsHistory] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[AppointmentStatusHistory] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentStatusHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [uniqueidentifier] NOT NULL,
	[OldStatusId] [int] NULL,
	[NewStatusId] [int] NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[ChangedByLogin] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[CartItems] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[CartId] [uniqueidentifier] NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Carts] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Couriers] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Couriers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[VehicleRegistration] [nvarchar](10) NULL,
 CONSTRAINT [PK_Couriers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Deliveries] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[CourierId] [uniqueidentifier] NULL,
	[StatusId] [int] NOT NULL,
	[DeliveredAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Deliveries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[DeliveryStatuses] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryStatuses](
	[Name] [nvarchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DeliveryStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Departments] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Diagnoses] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnoses](
	[Id] [uniqueidentifier] NOT NULL,
	[MedicalRecordId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[DiagnosedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Diagnoses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[DoctorDepartments] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorDepartments](
	[Id] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[DepartmentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorDepartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Invoices] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](10, 2) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[IssuedAt] [datetime2](7) NOT NULL,
	[StripePaymentId] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[MedicalLeaves] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalLeaves](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[DateFrom] [datetime2](7) NOT NULL,
	[DateTo] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[IssuedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MedicalLeaves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[MedicalRecords] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MedicalRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[OrderHistory] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ArchivedAt] [datetime] NULL,
	[ArchivedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[OrderRatings] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderRatings](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OrderRatings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[PrescriptionItems] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionItems](
	[Id] [uniqueidentifier] NOT NULL,
	[PrescriptionId] [uniqueidentifier] NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Notes] [nvarchar](100) NULL,
 CONSTRAINT [PK_PrescriptionItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Referral] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referral](
	[Id] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[TargetSpecialization] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IssuedDate] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Referral] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Roles] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Treatments] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[Id] [uniqueidentifier] NOT NULL,
	[DiagnosisId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Treatments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [rpt].[InventoryAlertLogs] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[InventoryAlertLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](150) NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[EstimatedDaysToEmpty] [int] NULL,
	[LogDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [rpt].[SpecializationMonthlyReports] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[SpecializationMonthlyReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReportYear] [int] NOT NULL,
	[ReportMonth] [int] NOT NULL,
	[SpecializationId] [uniqueidentifier] NOT NULL,
	[SpecializationName] [nvarchar](200) NOT NULL,
	[ActiveDoctorsCount] [int] NOT NULL,
	[UniquePatientsCount] [int] NOT NULL,
	[ScheduledCount] [int] NOT NULL,
	[CompletedCount] [int] NOT NULL,
	[CancelledCount] [int] NOT NULL,
	[PrescriptionsIssued] [int] NOT NULL,
	[GeneratedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SpecReport] UNIQUE NONCLUSTERED 
(
	[ReportYear] ASC,
	[ReportMonth] ASC,
	[SpecializationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Appointments_DoctorId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_DoctorId] ON [dbo].[Appointments]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Appointments_DoctorId_Date] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_DoctorId_Date] ON [dbo].[Appointments]
(
	[DoctorId] ASC,
	[AppointmentDate] ASC
)
INCLUDE([PatientId],[StatusId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Appointments_PatientId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PatientId] ON [dbo].[Appointments]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Appointments_StatusId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_StatusId] ON [dbo].[Appointments]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_CartItems_CartId_MedicineId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CartItems_CartId_MedicineId] ON [dbo].[CartItems]
(
	[CartId] ASC,
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_CartItems_MedicineId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_MedicineId] ON [dbo].[CartItems]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Carts_PatientId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Carts_PatientId] ON [dbo].[Carts]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Couriers_UserId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Couriers_UserId] ON [dbo].[Couriers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Deliveries_CourierId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Deliveries_CourierId] ON [dbo].[Deliveries]
(
	[CourierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Deliveries_OrderId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Deliveries_OrderId] ON [dbo].[Deliveries]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Deliveries_StatusId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Deliveries_StatusId] ON [dbo].[Deliveries]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Diagnoses_MedicalRecordId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Diagnoses_MedicalRecordId] ON [dbo].[Diagnoses]
(
	[MedicalRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_DoctorDepartments_DepartmentId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_DoctorDepartments_DepartmentId] ON [dbo].[DoctorDepartments]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_DoctorDepartments_DoctorId_DepartmentId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DoctorDepartments_DoctorId_DepartmentId] ON [dbo].[DoctorDepartments]
(
	[DoctorId] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Doctors_SpecializationId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Doctors_SpecializationId] ON [dbo].[Doctors]
(
	[SpecializationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Doctors_UserId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Doctors_UserId] ON [dbo].[Doctors]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Invoices_OrderId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_OrderId] ON [dbo].[Invoices]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Invoices_PatientId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_PatientId] ON [dbo].[Invoices]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_MedicalLeaves_DoctorId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_MedicalLeaves_DoctorId] ON [dbo].[MedicalLeaves]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_MedicalLeaves_PatientId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_MedicalLeaves_PatientId] ON [dbo].[MedicalLeaves]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_MedicalRecords_DoctorId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_MedicalRecords_DoctorId] ON [dbo].[MedicalRecords]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_MedicalRecords_PatientId_DoctorId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MedicalRecords_PatientId_DoctorId] ON [dbo].[MedicalRecords]
(
	[PatientId] ASC,
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Medicines_CategoryId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Medicines_CategoryId] ON [dbo].[Medicines]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_OrderHistory_PatientId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_OrderHistory_PatientId] ON [dbo].[OrderHistory]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_OrderItems_MedicineId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_MedicineId] ON [dbo].[OrderItems]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_OrderItems_OrderId_MedicineId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OrderItems_OrderId_MedicineId] ON [dbo].[OrderItems]
(
	[OrderId] ASC,
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_OrderRatings_OrderId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_OrderRatings_OrderId] ON [dbo].[OrderRatings]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_OrderRatings_PatientId_OrderId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OrderRatings_PatientId_OrderId] ON [dbo].[OrderRatings]
(
	[PatientId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Orders_PatientId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PatientId] ON [dbo].[Orders]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Orders_StatusId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_StatusId] ON [dbo].[Orders]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Patients_AddressId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Patients_AddressId] ON [dbo].[Patients]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Patients_BirthDate] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Patients_BirthDate] ON [dbo].[Patients]
(
	[BirthDate] ASC
)
INCLUDE([Pesel],[AddressId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Patients_UserId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Patients_UserId] ON [dbo].[Patients]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_PrescriptionItems_MedicineId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_PrescriptionItems_MedicineId] ON [dbo].[PrescriptionItems]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_PrescriptionItems_PrescriptionId_MedicineId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PrescriptionItems_PrescriptionId_MedicineId] ON [dbo].[PrescriptionItems]
(
	[PrescriptionId] ASC,
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Prescriptions_DoctorId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_DoctorId] ON [dbo].[Prescriptions]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Prescriptions_DoctorId_IssuedAt] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_DoctorId_IssuedAt] ON [dbo].[Prescriptions]
(
	[DoctorId] ASC,
	[IssuedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Prescriptions_MedicalRecordId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Prescriptions_MedicalRecordId] ON [dbo].[Prescriptions]
(
	[MedicalRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Referral_DoctorId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Referral_DoctorId] ON [dbo].[Referral]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Referral_PatientId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Referral_PatientId] ON [dbo].[Referral]
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Reviews_DoctorId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_DoctorId] ON [dbo].[Reviews]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Reviews_PatientId_DoctorId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Reviews_PatientId_DoctorId] ON [dbo].[Reviews]
(
	[PatientId] ASC,
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Treatments_DiagnosisId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Treatments_DiagnosisId] ON [dbo].[Treatments]
(
	[DiagnosisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Obiekt: Index [IX_Users_RoleId] Data skryptu: 9.06.2026 20:18:09 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [DurationMinutes]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [StatusId]
GO
ALTER TABLE [dbo].[AppointmentStatusHistory] ADD  DEFAULT (sysdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[AppointmentStatusHistory] ADD  DEFAULT (suser_sname()) FOR [ChangedByLogin]
GO
ALTER TABLE [dbo].[Deliveries] ADD  DEFAULT ((0)) FOR [StatusId]
GO
ALTER TABLE [dbo].[Diagnoses] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DiagnosedAt]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[OrderHistory] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[OrderHistory] ADD  DEFAULT (getdate()) FOR [ArchivedAt]
GO
ALTER TABLE [dbo].[OrderHistory] ADD  DEFAULT (suser_sname()) FOR [ArchivedBy]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0.0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [StatusId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [IssuedAt]
GO
ALTER TABLE [rpt].[InventoryAlertLogs] ADD  DEFAULT (sysdatetime()) FOR [LogDate]
GO
ALTER TABLE [rpt].[SpecializationMonthlyReports] ADD  DEFAULT ((0)) FOR [ActiveDoctorsCount]
GO
ALTER TABLE [rpt].[SpecializationMonthlyReports] ADD  DEFAULT ((0)) FOR [UniquePatientsCount]
GO
ALTER TABLE [rpt].[SpecializationMonthlyReports] ADD  DEFAULT ((0)) FOR [ScheduledCount]
GO
ALTER TABLE [rpt].[SpecializationMonthlyReports] ADD  DEFAULT ((0)) FOR [CompletedCount]
GO
ALTER TABLE [rpt].[SpecializationMonthlyReports] ADD  DEFAULT ((0)) FOR [CancelledCount]
GO
ALTER TABLE [rpt].[SpecializationMonthlyReports] ADD  DEFAULT ((0)) FOR [PrescriptionsIssued]
GO
ALTER TABLE [rpt].[SpecializationMonthlyReports] ADD  DEFAULT (sysdatetime()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_AppointmentStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[AppointmentStatuses] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_AppointmentStatuses_StatusId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients_PatientId]
GO
ALTER TABLE [dbo].[AppointmentStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_AppStatusHist_App] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[AppointmentStatusHistory] CHECK CONSTRAINT [FK_AppStatusHist_App]
GO
ALTER TABLE [dbo].[AppointmentStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_AppStatusHist_NewStatus] FOREIGN KEY([NewStatusId])
REFERENCES [dbo].[AppointmentStatuses] ([Id])
GO
ALTER TABLE [dbo].[AppointmentStatusHistory] CHECK CONSTRAINT [FK_AppStatusHist_NewStatus]
GO
ALTER TABLE [dbo].[AppointmentStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_AppStatusHist_OldStatus] FOREIGN KEY([OldStatusId])
REFERENCES [dbo].[AppointmentStatuses] ([Id])
GO
ALTER TABLE [dbo].[AppointmentStatusHistory] CHECK CONSTRAINT [FK_AppStatusHist_OldStatus]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Patients_PatientId]
GO
ALTER TABLE [dbo].[Couriers]  WITH CHECK ADD  CONSTRAINT [FK_Couriers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Couriers] CHECK CONSTRAINT [FK_Couriers_Users_UserId]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_Couriers_CourierId] FOREIGN KEY([CourierId])
REFERENCES [dbo].[Couriers] ([Id])
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FK_Deliveries_Couriers_CourierId]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_DeliveryStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[DeliveryStatuses] ([Id])
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FK_Deliveries_DeliveryStatuses_StatusId]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FK_Deliveries_Orders_OrderId]
GO
ALTER TABLE [dbo].[Diagnoses]  WITH CHECK ADD  CONSTRAINT [FK_Diagnoses_MedicalRecords_MedicalRecordId] FOREIGN KEY([MedicalRecordId])
REFERENCES [dbo].[MedicalRecords] ([Id])
GO
ALTER TABLE [dbo].[Diagnoses] CHECK CONSTRAINT [FK_Diagnoses_MedicalRecords_MedicalRecordId]
GO
ALTER TABLE [dbo].[DoctorDepartments]  WITH CHECK ADD  CONSTRAINT [FK_DoctorDepartments_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[DoctorDepartments] CHECK CONSTRAINT [FK_DoctorDepartments_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[DoctorDepartments]  WITH CHECK ADD  CONSTRAINT [FK_DoctorDepartments_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorDepartments] CHECK CONSTRAINT [FK_DoctorDepartments_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Specializations_SpecializationId] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specializations] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Specializations_SpecializationId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users_UserId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders_OrderId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Patients_PatientId]
GO
ALTER TABLE [dbo].[MedicalLeaves]  WITH CHECK ADD  CONSTRAINT [FK_MedicalLeaves_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[MedicalLeaves] CHECK CONSTRAINT [FK_MedicalLeaves_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[MedicalLeaves]  WITH CHECK ADD  CONSTRAINT [FK_MedicalLeaves_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[MedicalLeaves] CHECK CONSTRAINT [FK_MedicalLeaves_Patients_PatientId]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Patients_PatientId]
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_MedicineCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[MedicineCategories] ([Id])
GO
ALTER TABLE [dbo].[Medicines] CHECK CONSTRAINT [FK_Medicines_MedicineCategories_CategoryId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderRatings]  WITH CHECK ADD  CONSTRAINT [FK_OrderRatings_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderRatings] CHECK CONSTRAINT [FK_OrderRatings_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderRatings]  WITH CHECK ADD  CONSTRAINT [FK_OrderRatings_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[OrderRatings] CHECK CONSTRAINT [FK_OrderRatings_Patients_PatientId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OrderStatuses] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses_StatusId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Patients_PatientId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Addresses_AddressId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users_UserId]
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionItems_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[PrescriptionItems] CHECK CONSTRAINT [FK_PrescriptionItems_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionItems_Prescriptions_PrescriptionId] FOREIGN KEY([PrescriptionId])
REFERENCES [dbo].[Prescriptions] ([Id])
GO
ALTER TABLE [dbo].[PrescriptionItems] CHECK CONSTRAINT [FK_PrescriptionItems_Prescriptions_PrescriptionId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_MedicalRecords_MedicalRecordId] FOREIGN KEY([MedicalRecordId])
REFERENCES [dbo].[MedicalRecords] ([Id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_MedicalRecords_MedicalRecordId]
GO
ALTER TABLE [dbo].[Referral]  WITH CHECK ADD  CONSTRAINT [FK_Referral_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Referral] CHECK CONSTRAINT [FK_Referral_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Referral]  WITH CHECK ADD  CONSTRAINT [FK_Referral_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Referral] CHECK CONSTRAINT [FK_Referral_Patients_PatientId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Patients_PatientId]
GO
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_Treatments_Diagnoses_DiagnosisId] FOREIGN KEY([DiagnosisId])
REFERENCES [dbo].[Diagnoses] ([Id])
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_Treatments_Diagnoses_DiagnosisId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [rpt].[SpecializationMonthlyReports]  WITH CHECK ADD CHECK  (([ReportMonth]>=(1) AND [ReportMonth]<=(12)))
GO
/****** Obiekt: StoredProcedure [dbo].[usp_CancelUnpaidOrders] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CancelUnpaidOrders]
    @CancelledCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OrderId UNIQUEIDENTIFIER;
    DECLARE @PendingStatusId INT = 1;   -- NOWE
    DECLARE @CancelledStatusId INT = 5; -- ANULOWANE
    
    SET @CancelledCount = 0;

    DECLARE cur_UnpaidOrders CURSOR LOCAL FAST_FORWARD FOR
        SELECT Id
        FROM dbo.[Orders]
        WHERE StatusId = @PendingStatusId
          AND CreatedAt < DATEADD(hour, -48, GETDATE());

    OPEN cur_UnpaidOrders;
    FETCH NEXT FROM cur_UnpaidOrders INTO @OrderId;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            BEGIN TRANSACTION;

            UPDATE dbo.[Orders]
               SET StatusId = @CancelledStatusId
             WHERE Id = @OrderId;

            UPDATE m
               SET m.StockQuantity = m.StockQuantity + oi.Quantity
              FROM dbo.Medicines m
             INNER JOIN dbo.OrderItems oi ON m.Id = oi.MedicineId
             WHERE oi.OrderId = @OrderId;

            COMMIT TRANSACTION;
            
            SET @CancelledCount = @CancelledCount + 1;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;
        END CATCH

        FETCH NEXT FROM cur_UnpaidOrders INTO @OrderId;
    END

    CLOSE cur_UnpaidOrders;
    DEALLOCATE cur_UnpaidOrders;
END;

GO
/****** Obiekt: StoredProcedure [rpt].[usp_GetLowStockMedicines] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [rpt].[usp_GetLowStockMedicines]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        m.Name AS MedicineName,
        m.StockQuantity AS CurrentStock,
        SUM(oi.Quantity) AS SoldInLast30Days,
        
        CAST(m.StockQuantity * 30.0 / NULLIF(SUM(oi.Quantity), 0) AS INT) AS EstimatedDaysToEmpty
        
    FROM dbo.Medicines m
    INNER JOIN dbo.OrderItems oi ON m.Id = oi.MedicineId
    INNER JOIN dbo.Orders o ON oi.OrderId = o.Id
    WHERE o.CreatedAt >= DATEADD(day, -30, GETDATE())
      AND o.StatusId != 5 -- Pomijamy anulowane
    GROUP BY m.Name, m.StockQuantity
    HAVING
        CAST(m.StockQuantity * 30.0 / NULLIF(SUM(oi.Quantity), 0) AS INT) <= 7
        OR m.StockQuantity <= 0
    ORDER BY EstimatedDaysToEmpty ASC;
END;

GO
/****** Obiekt: StoredProcedure [rpt].[usp_GetPatientSpendingReport] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [rpt].[usp_GetPatientSpendingReport]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        PatientId,
        COUNT(OrderId) AS TotalOrdersCount,  
        SUM(TotalPrice) AS TotalMoneySpent,   
        MAX(ArchivedAt) AS LastOrderDate   
    FROM dbo.OrderHistory
    GROUP BY PatientId;
END;
GO
/****** Obiekt: StoredProcedure [rpt].[usp_MonthlySpecializationReport] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- dodanie tabeli do raportu lekarzy o danej spec
--dodanie procedury
CREATE   PROCEDURE [rpt].[usp_MonthlySpecializationReport]
    @Year  INT,
    @Month INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @Month NOT BETWEEN 1 AND 12
        THROW 60001, 'Miesiąc musi być w zakresie 1-12.', 1;
    IF @Year < 2000 OR @Year > YEAR(SYSDATETIME()) + 1
        THROW 60002, 'Niepoprawny rok.', 1;

    DECLARE @StartDate DATETIME2 = DATETIMEFROMPARTS(@Year, @Month, 1, 0, 0, 0, 0);
    DECLARE @EndDate   DATETIME2 = DATEADD(MONTH, 1, @StartDate);

    DELETE FROM rpt.SpecializationMonthlyReports
    WHERE ReportYear = @Year AND ReportMonth = @Month;

    DECLARE @SpecId   UNIQUEIDENTIFIER,
            @SpecName NVARCHAR(200);

    DECLARE @ActiveDoctors      INT,
            @UniquePatients     INT,
            @Scheduled          INT,
            @Completed          INT,
            @Cancelled          INT,
            @Prescriptions      INT;

    DECLARE spec_cursor CURSOR LOCAL FAST_FORWARD FOR
        SELECT Id, Name
        FROM dbo.Specializations
        ORDER BY Name;

    OPEN spec_cursor;
    FETCH NEXT FROM spec_cursor INTO @SpecId, @SpecName;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SELECT @ActiveDoctors = COUNT(DISTINCT d.Id)
        FROM dbo.Doctors d
        INNER JOIN dbo.Appointments a ON a.DoctorId = d.Id
        WHERE d.SpecializationId = @SpecId
          AND a.AppointmentDate >= @StartDate
          AND a.AppointmentDate <  @EndDate;

        SELECT @UniquePatients = COUNT(DISTINCT a.PatientId)
        FROM dbo.Appointments a
        INNER JOIN dbo.Doctors d ON a.DoctorId = d.Id
        WHERE d.SpecializationId = @SpecId
          AND a.AppointmentDate >= @StartDate
          AND a.AppointmentDate <  @EndDate;

        -- Statusy: 'Zaplanowana', 'Zakończona', 'Anulowana'
        SELECT
            @Scheduled = SUM(CASE WHEN s.Name = N'Zaplanowana' THEN 1 ELSE 0 END),
            @Completed = SUM(CASE WHEN s.Name = N'Zakończona'  THEN 1 ELSE 0 END),
            @Cancelled = SUM(CASE WHEN s.Name = N'Anulowana'   THEN 1 ELSE 0 END)
        FROM dbo.Appointments a
        INNER JOIN dbo.Doctors d ON a.DoctorId = d.Id
        INNER JOIN dbo.AppointmentStatuses s ON s.Id = a.StatusId
        WHERE d.SpecializationId = @SpecId
          AND a.AppointmentDate >= @StartDate
          AND a.AppointmentDate <  @EndDate;

        -- Recepty: kolumna nazywa się IssuedAt
        SELECT @Prescriptions = COUNT(*)
        FROM dbo.Prescriptions p
        INNER JOIN dbo.Doctors d ON p.DoctorId = d.Id
        WHERE d.SpecializationId = @SpecId
          AND p.IssuedAt >= @StartDate
          AND p.IssuedAt <  @EndDate;

        INSERT INTO rpt.SpecializationMonthlyReports
            (ReportYear, ReportMonth, SpecializationId, SpecializationName,
             ActiveDoctorsCount, UniquePatientsCount,
             ScheduledCount, CompletedCount, CancelledCount,
             PrescriptionsIssued)
        VALUES
            (@Year, @Month, @SpecId, @SpecName,
             ISNULL(@ActiveDoctors, 0), ISNULL(@UniquePatients, 0),
             ISNULL(@Scheduled, 0), ISNULL(@Completed, 0), ISNULL(@Cancelled, 0),
             ISNULL(@Prescriptions, 0));

        FETCH NEXT FROM spec_cursor INTO @SpecId, @SpecName;
    END

    CLOSE spec_cursor;
    DEALLOCATE spec_cursor;

    SELECT *
    FROM rpt.SpecializationMonthlyReports
    WHERE ReportYear = @Year AND ReportMonth = @Month
    ORDER BY SpecializationName;
END;
GO
/****** Obiekt: Trigger [dbo].[trg_Appointment_StatusHistory] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_Appointment_StatusHistory]
ON [dbo].[Appointments]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Reaguj tylko, gdy faktycznie zmienił się StatusId
    -- (UPDATE może dotyczyć innych kolumn — wtedy historii nie zapisujemy)
    IF NOT UPDATE(StatusId)
        RETURN;

    -- Zapis ZBIOROWY — JOIN inserted x deleted po Id,
    -- filtrujemy tylko te, gdzie StatusId naprawdę się zmienił
    INSERT INTO dbo.AppointmentStatusHistory
        (AppointmentId, OldStatusId, NewStatusId)
    SELECT 
        i.Id,
        d.StatusId,    -- stary status z 'deleted'
        i.StatusId     -- nowy status z 'inserted'
    FROM inserted i
    INNER JOIN deleted d ON d.Id = i.Id
    WHERE i.StatusId <> d.StatusId;
END;
GO
ALTER TABLE [dbo].[Appointments] ENABLE TRIGGER [trg_Appointment_StatusHistory]
GO
/****** Obiekt: Trigger [dbo].[trg_Archive_CompletedOrders] Data skryptu: 9.06.2026 20:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[trg_Archive_CompletedOrders]
ON [dbo].[Orders]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ZakonczoneId INT = (SELECT Id FROM dbo.OrderStatuses WHERE Name = N'Zakończone'); 

    IF UPDATE(StatusId)
    BEGIN
        INSERT INTO dbo.OrderHistory (OrderId, PatientId, TotalPrice, CreatedAt)
        SELECT 
            i.Id,          
            i.PatientId,   
            i.TotalPrice,
            i.CreatedAt
        FROM inserted i
        INNER JOIN deleted d ON i.Id = d.Id
        WHERE i.StatusId = @ZakonczoneId 
          AND d.StatusId <> @ZakonczoneId;
    END
END;
GO
ALTER TABLE [dbo].[Orders] ENABLE TRIGGER [trg_Archive_CompletedOrders]
GO
