@{
    ViewData["Title"] = "Create Doctor";
}

<h2>Zarejestruj Się </h2>

<form asp-action="Create" asp-controller="Admin" method="post">
    @Html.AntiForgeryToken()

    <div>
        <label>Email</label>
        <input type="email" name="Email" required />
    </div>

    <div>
        <label>Hasło</label>
        <input type="password" name="Password" required />
    </div>
    <div>
        <label>Imię</label>
        <input type="text" name="FirstName" required />
    </div>

    <div>
        <label>Nazwisko</label>
        <input type="text" name="LastName" required />
    </div>
    <div>
        <label>Number licencji</label>
        <input type="number" name="LicenseNumber" required />
    </div>

    <div>
        <label>Number Telefonu</label>
        <input type="number" name="Phone" required />
    </div>
    <div>
        <label>Specializacja</label>
        <input type="text" name="SpecializationName" required />
    </div>


    <div>
        @if (ViewBag.Error != null)
        {
            <span>@ViewBag.Error</span>
        }
    </div>
    <button type="submit">Zarejestruj</button>
</form>

<a href="/Home">Powrót</a>