@{
    ViewData["Title"] = "Admin panel";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <a asp-controller="Admin" asp-action="Doctors">Lekarze</a>
    <a asp-controller="Admin" asp-action="Patients">Pacjenci</a>
</div>
