@model List<MedicalCenter.DTOs.PatientDto>

<h2>Pacjenci</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Phone</td>
        </tr>
    }
</table>