@model List<MedicalCenter.DTOs.PatientDto>

<h2>Twoi pacjenci</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>@item.Phone</td>
            <td>@item.Pesel</td>
        </tr>
    }
</table>