@model MedicalCenter.DTOs.PatientDto;

@{
    ViewData["Title"] = $"Wystaw zwolnienie {Model.FirstName} {Model.LastName}";
}

<div class="container py-5">
    <div class="row g-4">
        <div class="col-lg-7">
            <div class="medical-card">
                <h4 class="page-title">Wybierz termin Zwolnienia</h4>
                <form asp-action="Create" asp-controller="MedicalLeave" method="post">
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="PatientId" value="@Model.Id" />

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Od</label>
                        <input type="date" id="DateFrom" name="DateFrom"
                               class="form-control" required placeholder="Wybierz datę" />

                        <label class="form-label fw-semibold">Do</label>
                        <input type="date" id="DateTo" name="DateTo"
                               class="form-control" required placeholder="Wybierz datę" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold">Opis zwolnienia</label>
                        <textarea name="Reason" class="form-control" rows="4" required placeholder="Opisz powód zwolnienia"></textarea>
                    </div>

                    <div>
                        @if (ViewBag.Error != null)
                        {
                            <span>@ViewBag.Error</span>
                        }
                    </div>
                    <button type="submit" class="btn btn-medical w-100 fw-bold mt-3">
                        <i class="fa-regular fa-calendar-check me-2"></i>Potwierdź
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#medicalLeaveDate", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        minDate: "today",
        minTime: "08:00",
        maxTime: "16:00",
        time_24hr: true
        });
    </script>
}